

<div class="surprise-body">
    <p>surprise works!</p>
    <input type="text" name="Name" placeholder="Enter your name">
    <input type="button" value="Click" (click)="click()">
    
    <h1 *ngIf = "isDisabled">Hello</h1><br /><br />
    <button (click) = showHello()>ShowHello</button><br /><br />
    <button (click) = hideHello()>HideHello</button><br /><br />
    <h1>{{name}}
        <div class="love">
            <h1 *ngIf = "love">{{love}}</h1>
        </div>
    </h1> 
    <button (click) = isLove()>Check</button>
</div>    