<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="cricket" />

	<bean id="batsmanTeamObject" class="cricket.Team">

		<property name="country" value="India" />
		<property name="rank" value="1" />

	</bean>

	<bean id="bowlerTeamObject" class="cricket.Team">

		<property name="country" value="South Africa" />
		<property name="rank" value="3" />

	</bean>



	<bean id="batsman" class="cricket.Batsman">

		<constructor-arg name="batsmanName" value="none" />
		<constructor-arg name="runs" value="0" />
		<constructor-arg name="average" value="0.0" />

		<property name="batsmanName" value="Dhoni" />
		<property name="runs" value="16000" />
		<property name="average" value="99.9" />


	</bean>


	<bean id="bowler" class="cricket.Bowler">

		<constructor-arg name="bowlerName" value="none" />
		<constructor-arg name="wickets" value="0" />
		<constructor-arg name="average" value="0.0" />

		<property name="bowlerName" value="Steyn" />
		<property name="wickets" value="750" />
		<property name="average" value="20.75" />

	</bean>


</beans>